@require "tabs.styl";

.custom-block-title {
	display: none;
}

.search-box {
	order: 1;
	margin-right: 0;
	margin-left: 1rem;

	.suggestions {
		left: auto !important;
		right: 0 !important;
	}
}

.nav-item:last-of-type .dropdown-title > span:first-of-type {
	font-size: 1.75rem;
	width: 1.5rem;
	margin-top: 0.1rem;
	vertical-align: top;
}

kbd {
	&.l {
		border-radius: 15px 6px 6px 6px;
		padding: 0 3px 0 7px;
	}

	&.r {
		border-radius: 6px 15px 6px 6px;
		padding: 0 7px 0 3px;
	}

	&.face {
		padding: 0 6px;
		border-radius: 15px;
	}
}